*.o
build-*/

moc_*.cpp
moc_*.o
moc_predefs.h


Makefile*
*.moc
*.qmake.stash

*.pro
*.app
*.pro.user
*.pro.user.*

PaO_Progetto
PaO_Progetto.app/

*.idea/
*.obsidian/
*.vscode/

*~
*.swp
*.bak
*.autosave
*.DS_Store
Thumbs.db

TODO.txt